<a href="https://colab.research.google.com/github/farisazizy/Bank-Marketing-EDA/blob/main/GG_3_0_Module_5_Day_1_Data_Cleansing_Exploration_Participant_Worksheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

- In this notebook, we are going to learn to deal with marketing dataset. our goal is to extract insight through data exploration focusing on marketing metrics.

- We are going to use `bank-additional-full-alt.csv` for this module.

- The dataset can be obtained from this website:
  https://archive.ics.uci.edu/dataset/222/bank+marketing

# Import Libraries

In [1]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
import seaborn as sns

These variables are going to be the main focus to calculate customer engagement:
  
  1. `contact`:
    - Represents the contact communication type, such as cellular, telephone, or unknown. It captures the method of contact made by the bank to engage with customers.
  
  2. `month`:
    - Indicates the month of the last contact with the customer. It provides information on the timing of the engagement.
  
  3. `day_of_week`:
    - Represents the day of the week of the last contact. It offers insights into the specific days when customers were engaged.

# Import Data

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/binggas/public-dataset/main/bank%2Bmarketing/bank-additional/bank-additional-full-alt.csv")
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

# Part 01: Data Cleaning & Pre-processing

## Check for Duplicates

- We can find duplicates in the dataset using `duplicated()` function.

In [ ]:
# find duplicates

- Try to use `subset=` parameter to find duplicates based on `age`, `job` ,`marital`, `education`, `housing`, and `loan`.

- This combination will be important later to find a specific customer.

In [ ]:
# Find duplicates based on columns combination: "age", "job" ,"marital", "education", "housing", "loan"

- Try to take a peek on the duplicates based on columns combination: `age`, `job` ,`marital`, `education`, `housing`, and `loan`.

- Why are they duplicated? Is it pure data duplication (an error) or could there be other explanation?

In [ ]:
# take a peek on the duplicate cases

In [ ]:
# Take one value combination and take a peek at the data

df[(df["age"]==41) &
   ]

- There seems to be no duplicates that would harm our analyses. For now, we can move on to the next step.

## Check Unique Values

- Check unique values of some columns using `.unique()` and `.value_counts()` function

In [ ]:
# Check unique values of `contact` column

In [ ]:
# value counts

In [ ]:
# Check unique values of `month` column

In [ ]:
# value counts

In [ ]:
# Check unique values of `day_of_week` column

In [ ]:
# value counts

- Chcek for missing value using `.isna()` or `.isnull()` function

In [ ]:
# Check for missing values

## Checking for Outliers


- Stakeholders inform us that we need to check if we need to exclude outliers based on age. To do this, we need to explore the distribution of the `age` column.


- For the first step, get qucik statistic of the `age` column using `.describe()`

In [ ]:
# Get quick statistict of the column `age`

- Use `np.percentile()` to get 5th and 95th percentile

In [ ]:
# Get the average value
print("average : ", np.mean(df["age"]))

# Get the 5th, 50th, and 95th percentile value
print("5th percentile : ", np.percentile(df["age"], 5))

- Now we should check the distribution visually by creating a histogram for the `age` column.

- You can use `seaborn` or `pyplot`, your choice!

- Play around with the `bins` parameter to help explore the data.

- You can also use `ax.axvline()` to put a line on the graph to help us understand where the average, 5th, 50th, and 95th percentile is. Don't forget to define `fig, ax` first!

- How much data do you think we will lose if we filter out `age < 5th percentile` and `age > 95th percentile`. Is it worth the filter?

In [ ]:
# Create histogram for the `age` column

fig, ax =  plt.subplots()



# Put a line for average value
ax.axvline(x=np.mean(df["age"]), c="green", linestyle="--")

# Put a line for 5th, 50th, and 95th percentile value

# Show the plot

- Now that you've mastered creating a histogram, why not try creating a boxplot?

- What type of different insight do you think you can get from a boxplot?

In [ ]:
# Create boxplot for the `age` column


# Put a line for average value


# Put a line for 5th, and 95th percentile value


# Show the plot

- It does not seem like there is any proof that the outlier will interfere with our analysis since:
  1. The outlier is not skewing the data dsitribution too much. This can be seen by comparing the median and average value. For a more exact confirmation for this, you can further check the skewness value.
  2. There are a lot of outliers, but the moajority of the data can still be considered to be distributed normally. We might lose important information if we decide to filter out the outliers.

## Adding Customer ID

- Now let's make a unique identifier for each customer.


- In the bank marketing dataset, each row represents one instance of a contact made with a customer rather than one customer ID.

- Therefore, there can be multiple rows with the same customer ID, indicating multiple contacts made with the same customer.

- The customer ID is not explicitly mentioned, you need to create it on your own.

- You can use a combination of `age`, `job`, `marital`, `education`, `housing`, and `loan` columns to create a unique identifier for each customer.

- You can use `.astype(str)` to first make sure that the column's data type is string, and then use `+` to stitch strings together.

- Put the result in a new column called `customer_id`.

In [ ]:
# Add customer ID

df["customer_id"] = df["age"].astype(str) + '_'

# Show first 5 rows
df.head()

- Check unique `customer_id` using `.nunique()`

# Part 02: Calculate Engagement Metrics

Relevant variables for analysis
1. `contact`: The contact communication type (e.g., cellular, telephone).
2. `month`: The month of the last contact with the customer.
3. `day_of_week`: The day of the week of the last contact.
4. `duration`: The duration of the last contact in seconds.
5. `campaign`: The number of contacts performed as part of a specific marketing campaign for the customer.
6. `previous`: The number of contacts made with the customer before the current campaign.
7. `poutcome`: The outcome of the previous marketing campaign (e.g., success, failure, unknown).
8. `education`: The customer's education level.
9. `job`: The customer's occupation or job category.
10. `age`: The customer's age.
11. `marital`: The customer's marital status.
12. `housing`: The type of housing the customer has (e.g., own, rent, unknown).

## Contact Frequency
   - Total number of contacts made by each customer.
   - Count the number of contacts made to each customer in the bank marketing datasetby type of contact.
   - Use `.groupby()` to do calculation grouped by certain columns.
   - Use `.size()` to quickly aggregate the number of row.
   - You can call it `channel_usage_freq` but you can also choose your own DataFrame name.

In [ ]:
# group by `customer_id` and `contact`
channel_usage_freq =

# rename column to be called `count`
pd.DataFrame(channel_usage_freq).rename(columns={0:"count"})

# sort values descending by the `count` column


# show the top 5 data

- Show the `count` column distribution.

- Find contact frequency for each customer.

- Save it to a DataFrame called `contact_frequency`.

In [ ]:
# group by `customer_id`
contact_frequency =

# rename column to be called `count`


# sort values descending by the `count` column

- You know the drill. Boxplot!

## Duration of Contact
  - Average or total duration of contacts made by each customer.

  - Calculate the average and sum of the duration of contacts for each customer in the dataset. Call it `duration_of_contact`.

  - Use `.agg()` function to aggregate a column.

In [ ]:
# group by `customer_id`
duration_of_contact =


# show the top 5 data

- Challenge yourself to create 2 boxplots in a plot using subplots.

In [ ]:
fig, ax = plt.subplots(figsize=(16,8), nrows=2)

# create 1st plot
sns.boxplot(data = duration_of_contact,
            x = ("duration","sum"), # pay attention to the multiindex column
            ax=ax[0]
            )

# create 2nd plot




# Show the plot
plt.show()

- What can you tell about the data?

## Most Frequent Contact
  - Preferred banking channels used by the customer.
  
  - Determine the most frequently used channel by each customer based on contact frequency for each channel.

  - Use the `channel_usage_freq` DataFrame you have created before.

  - Use `dense rank` to rank each customer's contact frequency.

In [ ]:
# reset index if needed
channel_usage_freq

# create a column called `rank` using dense rank
channel_usage_freq['rank'] =

# Show first 5 rows

- Check for one `customer_id`.

- Try to explore other `customer_id`'s as well.

In [ ]:
# Check for one `customer_id`

channel_usage_freq[channel_usage_freq["customer_id"]==]

- Now, only get `rank = 1` and put it in a new DataFrame called `channel_usage_freq_ranked`. Don't forget to use `.copy()` function!


- We do this to make sure that we can reuse the `channel_usage_freq` DataFrame later in the analysis.

In [ ]:
channel_usage_freq_ranked =

# Show first 5 rows

- Can you make a barplot of the frequency of contact that's ranked 1 for the whole dataset?

- Clue: use `sns.countplot()` to quickly do aggregation visual without doing calculation first.

In [ ]:
# show frquency of each value in the `contact` column


# show the graph

## Campaign Conversion Rate

- Rate at which customers respond yes to marketing campaigns.

- Divide the number of customers who responded yes to a specific marketing campaign by the total number of customers targeted for that campaign.


- First, we need to know the number of unique `customer_id` per `campaign`.

- - Name the result column to be `unique_cust_cnt`.

In [ ]:
# find unique customer_id per campaign
campaign_unique_cust =


# properly rename the result column to be `unique_cust_cnt`



# Check first 5 data

- Now we need to find unique `customer_id` that responded to the campaign.

- We can do this by first finding unique `customer_id` per `campaign` and `y`.

- Save it into a DataFrame called `campaign_respond_unique_cust`.


- Name the result column to be `unique_respond_cust_cnt`.

In [ ]:
# find unique customer_id per campaign and y
campaign_respond_unique_cust =

# properly rename the result column to be `unique_respond_cust_cnt`


# Check first 5 data

- We can then combine the 2 DataFrame by merging them together using `.merge()`.

- Pay attention to the result of the merge and the variables we merge them on.

- Call the result `campaign_conv_rate`.

In [ ]:
# Merge campaign_respond_unique_cust and campaign_unique_cust by the index
campaign_conv_rate =

# Check first 5 data

- With some Pandas slicing and magic, we can find the campaign conversion rate by dividing the number of unique customer who responded to the campaign (`responded_customer` from `campaign_respond_unique_cust`) with the total number of customer targeted by each campaign (`total_customer` from `campaign_unique_cust`).

- First, create new DataFrame called `campaign_conv_rate_responded` to keep the old DataFrame save. But only get the rows where `y = yes`.

In [ ]:
# Create new DataFrame to keep the old DataFrame save. But only get the rows where `y = yes`
campaign_conv_rate_responded =


# rename the columns
campaign_conv_rate_responded.rename()

# get conversion rate
campaign_conv_rate_responded["campaign_conversion_rate"]

# show result

- What visualization do you think would be best to showcase the insight in the conversion rate dataset?

In [ ]:
fig, ax = plt.subplots(figsize=(16,8), nrows=2)

sns.barplot(data = campaign_conv_rate_responded.reset_index(),
            x = "",
            y = "",
            ax =
            )



plt.show()

- What can we tell about this result?

## Campaign Engagement
  - Number of contacts made as part of each marketing campaign.

  - Count the number of contacts made for each customer within each marketing campaign in the dataset.

  - Save the result into a DataFrame called `campaign_engagement`.

In [ ]:
# find number of row per customer_id per campaign and y
campaign_engagement =

# properly rename the result column to be `count`


# reset index


# sort values by `count`

- Try the code below to quickly see the `count` distribution for each campaign.

In [ ]:
sns.catplot(data = campaign_engagement,
            x= "",
            kind= "box",
            col= "", # drawing each campaign into 1 plot
            col_wrap = 8, # creating 4 columns
            sharex = False   #to make each graph not to share x axis scale
            # showfliers = False  # This parameter controls if we want to show outliers or not
            )

plt.show()

- What can you tell us about the data above?

# End of Notebook